# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs/DraconicGB/v16/.suo
/.vs/DraconicGB/v16/Browse.VC.db
/.vs/DraconicGB/v16/Browse.VC.opendb
/DraconicGB/.vs/DraconicGB/v16/.suo
/DraconicGB/.vs/DraconicGB/v16/Browse.VC.db
/DraconicGB/x64/Debug/DraconicGB.log
/DraconicGB/x64/Debug/DraconicGB.tlog/CL.command.1.tlog
/DraconicGB/x64/Debug/DraconicGB.tlog/CL.read.1.tlog
/DraconicGB/x64/Debug/DraconicGB.tlog/CL.write.1.tlog
/DraconicGB/x64/Debug/DraconicGB.tlog/DraconicGB.lastbuildstate
/DraconicGB/x64/Debug/DraconicGB.tlog/link.command.1.tlog
/DraconicGB/x64/Debug/DraconicGB.tlog/link.read.1.tlog
/DraconicGB/x64/Debug/DraconicGB.tlog/link.write.1.tlog
/DraconicGB/x64/Debug/vc142.idb
/DraconicGB/x64/Debug/vc142.pdb
/x64/Debug/DraconicGB.ilk
/x64/Debug/DraconicGB.pdb
